<!doctype html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Cours environement ">
        <meta name="keywords" content="Flask python">
        <meta name="author" content="Ludovic TISON">
        <title>Python Flask</title>
                
    </head>

    <body>
        <div style="text-align:center">   

            <h1>Bonjour {{ cle_nom }} {{ cle_nom }} {{ cle_nom }} {{ cle_nom }} {{ cle_nom }} {{ cle_nom }} </h1>

            <a class="button" href="{{ url_for('accueil')}}">
                <button>accueil</button>
            </a> 
                  
        </div>
          
    </body>

</html>