<!doctype html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Cours environement ">
        <meta name="keywords" content="Flask python">
        <meta name="author" content="Ludovic TISON">
        <title>Python Flask</title>
                
    </head>

    <body>
        <div style="text-align:center">        
            <h1>Bienvenue sur ma page servie par Flask!!</h1>        
        </div> 
        <p> Voici la liste des prénoms</p>

        {% for prenom in prenoms %}
            <h4>{{ prenom }}</h4>
        {% endfor %}  
        
    </body>




</html>