<!doctype html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Cours environement ">
        <meta name="keywords" content="Flask python">
        <meta name="author" content="Ludovic TISON">
        <title>Python Flask</title>
                
    </head>

    <body>
        <div style="text-align:center">        
            <h1>Le nombre choisi est {{ nombre }}</h1>        
        </div> 
        
        {% if pair %}
            <p> {{ nombre }} est pair </p>
        {% else %}
            <p> {{ nombre }} est impair </p>
        {% endif %}
    </body>




</html>